#box{
    background-color: blue;
}

.heading{
    color:red;
}

button{
    background-color: green;
}

#name{
    text-align : center;
    text-transform: capitalize;
}

*{
    font-family : "Times New Roman";
}

#outer{
    font-size : 25px; 
}

#inner{
    font-size : 10px;
}

#hi{
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
