*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.area{
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

/* .image{
    width: 140px;
} */

.image_div{
    position: absolute;
    height: 200px;
    width: 140px;
    /* background-color: aqua; */
    overflow: hidden;
}

.image_div img{
    transform: translateY(70%);
    height: 100%;
    width: 140px;
    object-fit:cover;
}
